html{
    text-align: center;
    background-color: lavender;
}

h1{
    font-family: 'Roboto', Algerian;
    color: lightpink;
}

p{
    font-family: 'Roboto', Gabriola ;
    color:cornflowerblue;
}

button{
    text-decoration: plum;
    background-color: powderblue;
    font-family: 'Roboto', Broadway;
}
img{
    height: 50%;
    width: 20%;
}